<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for 排序</title>
    <script src="/assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in newArr">
                {{item}}
            </li>
        </ul>
        <hr/>
        <ul>
            <li v-for="(student,index) in newStudents">
                {{index+1}}---{{student.name}}--{{student.age}}
            </li>
        </ul>
    </div>
    <script>

        var app = new Vue({
            el:'#app',
            data:{
                arr:[15,515,18,81,153],
                students:[
                    {'name':'aaa','age':'15'},
                    {'name':'bbb','age':'516'},
                    {'name':'ccc','age':'412'},
                    {'name':'ddd','age':'41'},
                ],
            },
            computed:{
                newArr:function(){
                    return this.arr.sort(sortArr);
                },
                newStudents:function(){
                    return sortArrByKey(this.students,'age');
                }
            },
        });
        function sortArr(a,b){
            return a-b;
        }
        function sortArrByKey(arr,key){
            return arr.sort(function(a,b){
                var x = a[key];
                var y = b[key];
                return ((x<y)?-1:((x>y)?1:0));
            });
        }
    </script>
</body>
</html>